*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}
body{
min-height:100vh;
overflow:hidden;
color:white;
background:
linear-gradient(
135deg,
#0f0c29,
#302b63,
#24243e
);
}
.background-shape{
position:absolute;
border-radius:50%;
filter:blur(90px);
opacity:.6;
}
.shape1{
width:500px;
height:500px;
background:#ff0080;
top:-150px;
left:-150px;
}
.shape2 {
width:600px;
height:600px;
background:#00ffff;
right:-200px;
bottom:-200px;

}
header {
height:20vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
header h1{
font-size:55px;
letter-spacing:5px;
background:
linear-gradient(
90deg,
gold,
pink,
cyan
);
-webkit-background-clip:text;
color:transparent;
}
header p{
font-size:20px;
color:#ddd;
}
.dashboard{
height:65vh;
display:grid;
grid-template-columns:1fr 1fr;
gap:40px;
padding:40px 100px;
}
.counter-panel{
background:
rgba(255,255,255,.12);
backdrop-filter:
blur(25px);
border-radius:40px;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
box-shadow:
0 30px 70px black;
}
.circle{
width:300px;
height:300px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
background:
conic-gradient(
gold,
pink,
cyan,
purple
);
}
.count-box{
width:240px;
height:240px;
border-radius:50%;
background:#111;
display:flex;
align-items:center;
justify-content:center;
font-size:90px;
color:gold;
}
.counter-panel h2{
margin-top:25px;
letter-spacing:3px;
}
input{
margin:15px;
padding:15px;
border-radius:20px;
border:none;
font-size:20px;
width:120px;
text-align:center;
}
button{
padding:18px 30px;
margin:10px;
border-radius:25px;
border:none;
font-size:18px;
font-weight:bold;
cursor:pointer;
transition:.4s;
}
button:hover{
transform:translateY(-8px) scale(1.05);
}
.plus{
background:#00ff99;
}
.minus{
background:#ff416c;
}
.reset{
background:#ffd700;
}
.analytics{
display:flex;
flex-direction:column;
gap:20px
}
.card{
background:
rgba(255,255,255,.12);
backdrop-filter:
blur(20px);
padding:25px;
border-radius:30px;
box-shadow:
0 20px 50px black;
}
.card h3{
margin-bottom:15px;
}
.history{
height:220px;
overflow:auto;
}
footer{
height:15vh;
display:flex;
align-items:center;
justify-content:center;
color:#ccc;
}